/**
 * Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* Reset End */

body {
	background: url("../img/school_bg.png") no-repeat center center fixed;
	background-size: cover;
}

#btn_login {
	width: 70px;
    bottom: 90px;
}

.container {
	margin: 12% auto 0;
}

.container:before { 
	content: url('../img/abc_kidsd.png'); 
	display: block;
	margin: 0 auto;
	height: 184px;
	width: 173px;
}

#btn_cadastrase {
	position: absolute;
    right: 100px;
    top: 16px;
}

#loginform { 
	background: #e1e3e8;
	border: solid 1px #fff; 
	border-radius:5px; 
	box-shadow: 0 0 7px -1px rgba(0,0,0,0.4);
	height: 150px;
	margin: 15px auto 0; 
	position: relative;
	width: 538px;

}

.login-username .input{ margin-left: 14px;}

.input { 
	background-color: #f5f6f7;
	border: solid 1px #b4b6bd; 
	border-radius:5px; 
	box-sizing: border-box;
	color: #767c8b;
	display: inline-block;
	font: 18px/22px arial;
	float: left;
	height: 55px;  
	margin: 10px 0 9px 14px;
	outline: 0;
	padding-left: 18px;
	transition: box-shadow 0.4s ease;
	width: 248px;
}
.input:focus { 
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.login-password .input { margin-right: 14px;}

.button-primary {
	background-color: #28a745;
	border: solid 1px transparent; 
	border-radius: 0 6px 6px 0; 
	box-shadow: 0 0 7px -1px rgba(0,0,0,0.5);
	color: #fff;	
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	height: 52px;
	left: 538px;
	margin: 12px 0 0 1px;
	outline: none;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 1px #000;
	transition: box-shadow 0.5s ease,text-shadow 0.5s 0.3s;
	width: 46px;
}

.button-primary:hover { 
text-shadow: 0 0 1px rgba(255,255,255,0.8);
box-shadow: 0 0 7px -1px rgba(0,0,0,0.8);
}

#loginform .login-remember {display: none;}

/* Code Ends */