body {
  background: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

#btn_voltar {
  position: absolute;
  left: 100px;
  top: 16px;
  background-color: #28a745;
  width: 67px;
  height: 33px;
}
*
{
  margin: 0;
  padding: 0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;  
  box-sizing:border-box;
}
.container
{
  width: 1155px;
  margin: 0 auto;
  display: relative;
}
.container h1
{
  color: #28a745;
  font-weight: 100;
  text-indent: 25px;
  padding: 25px 0 0 0;
}
.container ul
{
  position: relative;
}
.container li
{
  background: white;
  width: 310px;
  margin:25px;
  padding: 20px;
  display: table;
  float: left;
  height: 200px;
  border: 1px solid white;
  transform:scale(1);
    -webkit-transition:all ease-in-out 0.7s;
  -moz-transition:all ease-in-out 0.7s;
  -o-transition:all ease-in-out 0.7s;
  transition:all ease-in-out 0.7s;
}
.container li:hover
{
  cursor: pointer;
  border: 1px solid #54c5d1;
  background: rgba(255,255,255,0.5);
  transform:scale(0.98);
}
.container li span
{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.container .display
{
  position: absolute;
  top: 120px;
  width: inherit;
  height: 400px;
  background: transparent;
  border: 1px solid #54c5d1;
  display: none;
  padding: 20px;
  text-align: center;
}
.container .display button
{
  position: absolute;
}
.container .display .close
{
  right:0;
  top: -70px;
}
.container .display .prev
{
  left: -70px;
}
.container .display .next
{
  
  right: -70px;
}
.container .display .next , .container .display .prev
{
  top: 50%;
  margin-top: -50px;
  font-size: 10px;
}
.container .display .close , .container .display .next , .container .display .prev
{
  background: transparent;
  display: block;
  border: 1px solid #54c5d1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-weight: 100;
  text-align: center;
  line-height: 60px;
  
}
