<html>
  <head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
      <script src="js/configHelp.js"></script>
      <link href="css/styleHelp.css" rel="stylesheet" type="text/css">
  </head>
    <body>
      <button class="btn btn-info" id="btn_voltar">Voltar</button> 
        <div class="container">
        
          <h2><center>Menu de Ajuda</center></h2>
        
          <div class="accordion">
            <div class="accordion-item">
              <a>Interpretação de Texto</a>
              <div class="content">
                <p>A primeira coisa que deve ser feita na Interpretação de texto é decompor o texto em suas “ideias básicas”. Qual é o foco do texto e quais são os principais conceitos definidos pelo autor. O ideal, na hora de interpretar um texto, é fazer uma leitura dinâmica, a fim de captar sua ideia principal, para depois ler novamente para que possa ser feita uma análise mais a fundo do mesmo.</p>
              </div>
            </div>
            <div class="accordion-item">
              <a>Verbo e Tempo Verbal</a>
              <div class="content">
                <p>Verbos são palavras que indicam acontecimentos representados no tempo, como uma ação, um estado, um processo ou um fenômeno. Flexionam-se em número, pessoa, modo, tempo, aspecto e voz. As orações e os períodos desenvolvem-se em torno de um verbo. Uma ação pode ocorrer no passado, no presente ou no futuro. Os tempos verbais indicam o momento em que ocorre essa ação. Os tempos verbais podem ser simples ou compostos e se encontram inseridos nos modos verbais: o modo indicativo, o modo subjuntivo e o modo imperativo.</p>
              </div>
            </div>
            <div class="accordion-item">
              <a>Pronomes de Tratamento</a>
              <div class="content">
                <p>Pronomes de tratamento são utilizados como alternativas aos pronomes pessoais em linguagens mais técnicas e formais. Apesar de utilizados para indicarem o interlocutor (ou seja, a segunda pessoa), os pronomes de tratamento devem ser conjugados com verbos na terceira pessoa. <br>Por exemplo: “Você pode me emprestar o seu celular?” (correto) / “Você pode me emprestar o teu celular?” (errado).<br>Entre os principais pronomes de tratamento, destaca-se: Você, Senhor/Senhora, Vossa Senhoria e Vossa Excelência.</p>
              </div>
            </div>
            <div class="accordion-item">
              <a>Substantivo Próprio</a>
              <div class="content">
                <p>Substantivos próprios são palavras que designam seres individuais e específicos, particularizando-os dentro de sua espécie e distinguindo-os dos restantes. São escritos com letra maiúscula.<br>Exemplos de substantivos próprios: Nomes de pessoas, Nomes de animais, Nomes de cidades, países ou continentes.</p>
              </div>
            </div>
            <div class="accordion-item">
              <a>Separação de Sílabas</a>
              <div class="content">
                <p>As sílabas são partes que formam as palavras compostas por duas ou três letras. Separar sílabas nos ajuda a compreender como as palavras são formadas, por isso é importante conhecer as regras de separação.</p>
              </div>
            </div>
          </div>
          
        </div>
      </body>
</html>