<!DOCTYPE html>
<html lang="pt" class="no-js">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="js/configMenu.js"></script>
	    <link href="css/styleMenu.css" rel="stylesheet" type="text/css">
		<title>Menu</title>
	</head>
	<body>
	
			<!-- Codrops top bar -->
			<header>
			<center><h1>Menu do Jogo</h1></center>
			</header>
			<div class="main clearfix">
				
				<nav id="menu" class="nav">					
					<ul>
						<li>
							<a href="/questions">
								<span class="icon">
									<i aria-hidden="true" class="icon-home"></i>
								</span>
								<span>Jogo de Questões</span>
							</a>
						</li>
						<li>
							<a href="/ranking">
								<span class="icon"> 
									<i aria-hidden="true" class="icon-services"></i>
								</span>
								<span>Ranking</span>
							</a>
						</li>
						<li>
							<a href="/comoJogar">
								<span class="icon"> 
									<i aria-hidden="true" class="icon-services"></i>
								</span>
								<span>Como Jogar</span>
							</a>
						</li>
						<li>
							<a href="/ajuda">
								<span class="icon">
									<i aria-hidden="true" class="icon-home"></i>
								</span>
								<span>Ajuda</span>
							</a>
						</li>
						<li>
							<a href="/creditos">
								<span class="icon">
									<i aria-hidden="true" class="icon-home"></i>
								</span>
								<span>Créditos</span>
							</a>
						</li>
						<li>
							<a href="/logout" id="btn_sair">
								<span class="icon">
									<i aria-hidden="true" class="icon-blog"></i>
								</span>
								<span>Sair</span>
							</a>
						</li>

					</ul>
				</nav>
			</div>
		</div><!-- /container -->
	</body>
</html>